/* GENERAL STYLE  */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* UTILITY */
	body {
		 font-family: 'Inconsolata', monospace;/* CAMBIARE FONT */
	}
	html {
		scroll-behavior: smooth;
	}
	
/* MAIN */
.galery__card:nth-child(1) {
	background-color: #ff0000;
	color: #ffff00;
}
.galery__card:nth-child(2) {
	background-color: #008000;
	color: #ffff00;
}
.galery__card:nth-child(3) {
	background-color: #ffff00;
	color: #008000;
}
.galery {
	height: 100vh;
}
.galery__card {
	width: 100%;
	height: 100%;
	position: relative;
}
.galery__card-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.galery__title {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 70px;
	text-align: center;
	margin: auto;
	max-width: 650px;
	letter-spacing: 3px;
	
}

/* NAV */
.nav {
	position: fixed;
	top: 0;
	right: 0;
}
.nav__item {
	display: inline-block;
	list-style: none;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	margin:40px 40px 0 0;
	
}
.nav__item:last-child {
	margin-right: 20px;
}
.nav__item a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-size: 25px;
}